@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Ogani.cshtml";
}
@model List<TDanhMucSp>



@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialSanPham", item)
}
<nav aria-label="Điều hướng trang">
    <ul class="pagination">
        <!-- Liên kết trang trước -->
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-action="SanPhamTheoLoai" asp-route-maloai="@ViewBag.MaLoai"
                    asp-route-page="@(ViewBag.CurrentPage - 1)">Prev</a>
            </li>
        }

        <!-- Các số trang -->
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" asp-action="SanPhamTheoLoai" asp-route-maloai="@ViewBag.MaLoai"
                    asp-route-page="@i">@i</a>
            </li>
        }

        <!-- Liên kết trang sau -->
        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" asp-action="SanPhamTheoLoai" asp-route-maloai="@ViewBag.MaLoai"
                    asp-route-page="@(ViewBag.CurrentPage + 1)">Next</a>
            </li>
        }
    </ul>
</nav>